.wrapper { 
    display: flex;
    height: 300px;
    width: 1300px;
    background: #C4C4C4;
    margin-bottom: 30px;
    padding: 10px;
}
.wrapper-column { 
    display: flex;
    height: 1200px;
    width: 200px;
    background: #C4C4C4;
    margin-bottom: 30px;
    padding: 10px;
}
.wrapper-column-flex { 
    display: flex;
    height: 1000px;
    width: 1000px;
    background: #C4C4C4;
    margin-bottom: 30px;
    padding: 10px;
}

.flex-direction-column {
flex-direction: column;
}

.flex-justify-end {
justify-content: flex-end;
} 

.flex-justify-start {
justify-content: flex-start;
} 

.flex-justify-between { 
justify-content: space-between;
}

.flex-justify-center { 
justify-content: center;
}

.flex-grow{ 
flex-grow: 1;
}

.flex-shrink { 
    flex-shrink: 0;
}
    
.reverse { 
flex-direction: row-reverse;
}

.align-center {
align-items: center;
} 

.no-padding { 
    padding: 0;
}

.no-margin { 
    margin: 0;
}

.content { 
    width: 150px;
    height: 114px;
    background: #452929;
}
.width-full { 
    width: 100%;
}
.height-full{
    height: 100%;
}

.gap-10 div{ 
    margin-right: 10px;
}

.gap-10-bottom div{ 
    margin-bottom: 10px;
}


